#canvas1{
    width: 900px;
    height: 750px;
    border: 1px solid black;
    background: #51b4ff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#con{
    position: absolute;
    left: 50%;
    top: 5%;
}